@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
}

.pdf-capture-safe * {
  --tw-prose-body: #111827 !important;
  --tw-prose-headings: #111827 !important;
}
